name: Lint and Unit test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Go ${{ matrix.go-version }} Test

    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Check out codes
        uses: actions/checkout@v4

      - name: Run lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v1.64.8
          args: --timeout=5m

      - name: Run tests
        run: go test ./...
